{% load static %}
<!doctype html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}7202 AgribankQ{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.min.css' %}" rel="stylesheet"></head>
<body class="bg-light">


    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="mt-5 text-center text-muted py-3">
        <div class="container">
            © {% now "Y" %} Agribank Chi nhánh Giá Rai Bạc Liêu - AgribankQ
            
            <span class="mx-2">·</span>
            <a href="{% url 'about_author' %}">Thông tin về tác giả</a>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>